@model RegisterVM;

@{
    ViewData["Title"] = "Restaurants";
   IEnumerable<Restaurant> rests = ViewData["rest"] as IEnumerable<Restaurant>;
}
@{
    Layout = "_Layout";
}


<h1 style="text-align:center" class="m-5">Restaurants</h1>

    <div class="container">
     <div class="row">
    <div class="modal" tabindex="-1" role="dialog" id="reg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign UP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
         <form asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">EmailAddress</label>
                        <input type="email"asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">Password</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label  class="control-label">ConfirmPassword</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                           <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
                                 Have an account? Login!
                           </a>
                        <input class="btn btn-outline-success float-right" type="submit" value="Sign up" />
                    </div>
                </form>    
                </div>
   
    </div>
  </div>
</div>
     </div>
    </div>


 @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<div class="container">
    <div class="row">
    <partial name="_CheckBoxFilters" />
    <div  class="col-lg-10">

<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                  Name
            </th>
            <th>
                  Description
            </th>
        
            <th>
                City
            </th>
            <th>
               HotLine
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in rests) {
        <tr>
              <td>
                @*@Html.DisplayFor(modelItem => item.Logo)*@
                <img class="rounded-circle" src="@item.Logo" alt="@item.Name" style="max-width:120px" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
     
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNum)
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
             else if(!User.Identity.IsAuthenticated)
                {
                        <td>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#reg">
                                Order NOW!
                            </button>
                        </td>

                         
                    }
                    else
                    {
                        <td>
                           <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Order NOW!</a> 
                        </td>
                        
                    }
            </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
<script>
    $(document).on("click", "#hi", function(){
    if ($(this).is(':checked')) {
        console.log("ffff");
        $('form').submit();
    }
});
</script>
